<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block titulo %}{% endblock %}</title>
    <meta name="Description" content="">
    <meta name="keywords" content="">
    {% include 'estructura/snipped-header.twig' %}
    {% block liksPropios %}
    {% endblock %}
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
{% include 'estructura/menu.twig' %}

{% block contenido %}{% endblock %}

{% include 'estructura/footer.twig' %}
{% include 'estructura/query-bootstrap.twig' %}
</body>
</html>