<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="row {{ colorRectangulo }}">
            <div class="col-sm-1 col-sm-offset-4">
                <img src="{{ asset('imagenes/icono-azul-cancun-blanco.png') }}" class="img-responsive iconoServWed">
            </div>
            <div class="col-sm-5">
                <h1 class="cuadroSubNos letraBlanca">{{ textoRectangulo }}</h1>
            </div>
        </div>
    </div>
</div>